.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #cacaca !important;
    }
      
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #7e5bff !important;
    border-color: #7e5bff !important;
    color: white !important;
    }

    .btn-secondary, .btn-secondary:hover, .btn-secondary:visited {
      background-color: #7e5bff !important;
      border-color: #7e5bff !important;
      color: white !important;
      }

    .btn-secondary:active {
      background-color: #401bc7 !important;
      border-color: #401bc7 !important;
      color: white !important;
      }
    
    .center{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .content {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    
    }
    
    .form-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    }
      
    .form-select{
    width: 200px;
    height: 50px;
    }
    
    .row{
    width: 100%;
    }
    
    .wrap{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    }
    
    button{
    margin: 10px;
    width: 120px;
    height: 45px;
    font-size: 12px;
    }
    
    h2{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.5rem;
    color: #616161;
    }
    
    label{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    color: #616161;
    }

  /* toggle buttons */
  mat-button-toggle {
    width: 200px;
    height: 50px;
    margin: 5px;
    color: #aeaeaf;
  }
  .mat-button-toggle-checked {
    /* box-shadow: 0 0 30px #401bc7 !important; */
    border-color: #7e5bff !important;
    background-color: #fff !important;
    color: #7e5bff;
  }


    
    .dp{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .dp_button{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .bf{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    ng-number-picker{
      width: 210px;
    }

    #logo{
      width: 100px;
      margin-bottom: 20px;
      margin-top: 60px;
    }
    
    @media (min-width: 576px) {
    .box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 900px;
    max-width: 80%;
    height: 300;
    border-radius: 5px;
    border: 1px #f1f1f1 solid;
    }
    }
    

