<nav>
    <app-navbar></app-navbar>
  </nav>
      
  <section>
    <div class="content">
      <div class="wrap center">
        
        <div data-aos="fade-right" data-aos-duration="500" class="center">
          <img id='logo' src="../../assets/images/logo.png">
        </div>
    
        <div data-aos="fade-left" data-aos-duration="1000" class="box">
            <div class='tabla'>
              <div class="center">
                <div class="row">
                  <div class="col-4">
  
                  </div> 
                  <div  class="col-4 headerTable">
                    <h2>Breast Feeding</h2>
                  </div>
                  <div  class="col-4 headerTable">
                    <button  (click)="goToNew()" id='addnew' class="btn btn-primary" >New</button>
                  </div>
  
                </div>
              </div>
        
              <div class="form-group"  >
  
                  <table class="table" >
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Ts</th>
                        <th>Minutes</th>
                      </tr>
                    </thead>
        
                    <tbody style="overflow: auto">
                      <tr *ngFor="let breastfeeding of breastFeedings.slice().reverse() ">
                        <td id='year' data-aos="fade-right" data-aos-duration="500" >{{ breastfeeding.breast_feeding_id }}</td>
                        <td id='model' data-aos="fade-right" data-aos-duration="500" >{{ breastfeeding.breast_feeding_created }}</td>
                        <td id='owner' data-aos="fade-right" data-aos-duration="500" >{{ breastfeeding.breast_feeding_minutes }} </td>
                      </tr>
                    </tbody>
                </table>
  
              </div>
  
            </div>
  
        </div>
      </div>
    </div>
    
  </section>
